body {
    background-color: #151515 ;
    font-family: 'Murecho', sans-serif;
    color: #fe8c08
}

.workout-card {
    background-color: #29292b;
    color: #fff;
}

ul {
    list-style: none;
    margin: 1em 0 1em;
    padding: 0;
    font-size: 0.9em;
    font-weight: 100;

}

li {
    display: inline-block;
    line-height: 1em;
    margin-right: 1em;

}

a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fe8c08;
    margin-right: 0.5em;
}


.equipment-outer {
    margin: 1em 0 1em;
}

.equipment {
    margin-right: 0.5em;
}

#btn-custom {
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #fe8c08;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);



.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


