{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <!-- Welcome message -->
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-6 offset-3 mt-4 mb-4">
            <h1 class="border-light pb-3 border-bottom mb-3">Welcome Back!
            </h1>
            <p>Browse and view workouts in detail to get inspiration for your next WOD (Workout Of the
                Day), or add your own to inspire others!
            </p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'add_item' %}" class="btn btn-light px-4 ">
                    Add Workout <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>

        {% else %}
        <div class="col-8 offset-2 mt-4 mb-4 justify-content-center">
            <h1>Welcome to
            </h1>
            <h2 class="border-light pb-3 border-bottom mb-3">WOD ABC
            </h2>
            <p>You can browse and view existing workouts in detail to get inspiration for your next WOD (Workout Of the
                Day).
            </p>
            <p>To add your own workout, make sure to sign up or login!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'account_signup' %}" class="btn btn-light px-4 ">
                    Sign Up
                </a>
                <a href="{% url 'account_login' %}" class="btn btn-secondary px-4">
                    Login
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">

        <!-- Workout Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for workout in workout_list %}
                <div class="col-md-4 card-outer">
                    <div class="card mb-4">
                        <div class="card-body workout-card">
                            <h2 class="card-title">{{ workout.title }}</h2>
                            <h6 class="category-banner"> {{ workout.category }}</h6>
                            <hr />
                            <ul>
                                <li><span> <i class="far fa-user"></i> {{ workout.participants }} </span></li>
                                <li><span><i class="far fa-clock"></i> {{ workout.length }}</span></li>
                            </ul>
                            <div class="equipment-outer">
                                <span><i class="fas fa-dumbbell"></i></span>
                                <span class="equipment">{{ workout.equipment }} </span>
                            </div>
                            <p>
                                {{ workout.excerpt }}
                            </p>
                            <div class="btn-custom">
                                <a href="{% url 'workout_full' workout.slug %}">
                                    view workout <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-2 mt-3">
                <div class="back">
                    <a href="{% url 'add_item' %}" class="btn btn-light px-4 ">
                        Add Workout <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        {% else %}

        <p><a href="{% url 'account_login' %}" class="sign-in-prompt">Sign in here</a> to add a workout.</p>

        {% endif %}

    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Prev <i class="fas fa-arrow-left"></i></a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next <i class="fas fa-arrow-right"></i></a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{%endblock%}