{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for workout in workout_list %}
                <div class="col-md-4 card-outer">
                    <div class="card mb-4">
                        <div class="card-body workout-card">
                            <a href="{% url 'workout_full' workout.slug %}" class="post-link">
                                <h2 class="card-title">{{ workout.title }}</h2>
                            </a>
                            <h6 class="category-banner"> {{ workout.category }}</h6>
                            <hr />
                            <ul>
                                <li><span> <i class="far fa-user"></i> {{ workout.participants }} </span></li>
                                <li><span><i class="far fa-clock"></i> {{ workout.length }}</span></li>
                            </ul>
                            <div class="equipment-outer">
                                <span><i class="fas fa-dumbbell"></i></span>
                                <span class="equipment">{{ workout.equipment }} |</span>
                            </div>
                            <p>
                                {{ workout.excerpt }}
                            </p>
                            <button id="btn-custom">view workout <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{%endblock%}