{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 left">
            <div class="row">
                <div class="col-md-8 offset-md-2 card-outer">
                    <div class="card mb-4">
                        <div class="card-body workout-card">
                                <h2 class="card-title">{{ workout.title }}</h2>
                            <h6 class="category-banner"> {{ workout.category }}</h6>
                            <hr />
                            <ul>
                                <li><span> <i class="far fa-user"></i> {{ workout.participants }} </span></li>
                                <li><span><i class="far fa-clock"></i> {{ workout.length }}</span></li>
                            </ul>
                            <div class="equipment-outer">
                                <span><i class="fas fa-dumbbell"></i></span>
                                <span class="equipment">{{ workout.equipment }} |</span>
                            </div>
                            <p>
                                {{ workout.content|striptags }}
                            </p>
                            <div>
                                <span>Favorite <i class="far fa-heart"></i></span>
                                {% if user == workout.author %}
                                <span class="btn btn-sm d-inline-block main-btn ms-3">
                                    <a href="{% url 'edit_item' workout.id %}">Edit  <i class="fas fa-pen"></i></a>
                                </span>
                               <!-- Modal trigger button -->
                                <span>
                                    <button type="button" class="btn btn-sm main-btn ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    Delete  <i class="far fa-trash-alt"></i>
                                    </button>
                                </span>

                            </div>






                            <!-- <a class="nav-link" href="{% url 'edit_item' workout.id %}">
                                <button id="btn-custom-edit">edit workout <i class="fa fa-arrow-right"></i></button>
                            </a>
                            <a class="nav-link" href="#">
                                <button id="btn-custom-edit">delete <i class="fa fa-arrow-right"></i></button>
                            </a> -->

                            {% else %}

                            {% endif %}

                        </div>
                    </div>
                </div>

        </div>
        <div class="col-12 mt-5 left">


        </div>
    </div>
</div>



{%endblock%}