{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 left">
            <div class="row">
                <div class="col-md-8 offset-md-2 card-outer">
                    <div class="card mb-4">
                        <div class="card-body workout-card">
                                <h2 class="card-title">{{ workout.title }}</h2>
                            <h6 class="category-banner"> {{ workout.category }}</h6>
                            <hr />
                            <ul>
                                <li><span> <i class="far fa-user"></i> {{ workout.participants }} </span></li>
                                <li><span><i class="far fa-clock"></i> {{ workout.length }}</span></li>
                            </ul>
                            <div class="equipment-outer">
                                <span><i class="fas fa-dumbbell"></i></span>
                                <span class="equipment">{{ workout.equipment }} |</span>
                            </div>
                            <p>
                                {{ workout.content }}
                            </p>
                            <div><i class="far fa-heart"></i></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{%endblock%}